{% extends "base.html" %}
{% block title %} Makkyo {% endblock %}
{% block mainT %} {{ project.0.name }} 詳細情報 {% endblock %}
{% block body %}
<div style="margin:20px">
    <table class="table">
        <tbody>
            <tr> 
                <th>プロジェクト名</th>
                <td>{{ project.0.name }}</td>
            </tr>
            <tr> 
                <th>開始日</th>
                <td>{{ project.0.start_date }}</td>
            </tr>
            <tr>
                <th>終了日</th>
                <td>{{ project.0.end_date }}</td>
            </tr>
            <tr>
                <th>詳細</th>
                <td>{{ project.0.details }}</td>
            </tr>
            <tr>
                <th>リーダー</th>
                <td>{{ project.0.leader }}</td>
            </tr>
            <tr>
                <th>メンバー</th>
                <td>
                    {% if member != None %}
                        <table class="no_border">
                            {% for person in member %}
                                <tr>
                                    <td>
                                        {{ person.user_cd }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        メンバーはいません
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-secondary" href="{% url 'task:projecttousers_form' project.0.pk %}">メンバー更新</a>
    <hr>
    <a href="{% url 'task:our_project' project.0.pk %}" class="btn btn-primary" styloe="width: 120px; margin-right:10px;">戻る</a>
    <a href="{% url 'task:our_project_update' project.0.pk %}" class="btn btn-primary ">変更</a>
    {% if user == project.0.leader %}
        <a href="{% url 'task:our_project_delete' project.0.pk %}" class="delete-btn btn btn-primary">削除</a>
    {% endif %}
</div>
{% endblock %}
                                        
