{% extends "base.html" %}
{% block title %} Makkyo {% endblock %}
{% block mainT %} タスク {% endblock %}
{% block body %}

    <div class="leftArea">
        <h2 class="eleTitle">主導プロジェクト</h2>
        {% if leader != None %}
            {% for lead in leader %}
                <a class="project_area" href="{% url 'task:our_project' lead.pk %}">
                    <div>
                        <h4>{{lead.name}}</h4>
                        <p>リーダー: {{lead.leader}}</p>
                        {% if lead.start_date != None %}
                            <p>開始日: {{lead.start_date}}</p>
                        {% endif %}
                        {% if lead.end_date != None %}
                            <p>終了日: {{lead.end_date}}</p>
                        {% endif %}
                        {% if lead.details != None %}
                            <p>詳細: {{lead.details}}</p>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <h4>プロジェクトがありません</h4>
        {% endif %}
        <a class="btn btn-outline-secondary" href="/task/build_project/">プロジェクト作成</a>
    </div>
    <div class="rightArea">
        <h2 class="eleTitle">参加プロジェクト</h2>
        {% if member != None %}
            {% for men in member %}
                <a class="project_area" href="{% url 'task:our_project' men.pk %}">
                    <div>
                        <h4>{{men.name}}</h4>
                        <p>リーダー: {{men.leader}}</p>
                        {% if men.start_date != None %}
                            <p>開始日: {{men.start_date}}</p>
                        {% endif %}
                        {% if men.end_date != None %}
                            <p>終了日: {{men.end_date}}</p>
                        {% endif %}
                        {% if men.details != None %}
                            <p>詳細: {{men.details}}</p>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <h4>プロジェクトがありません</h4>
        {% endif %}
    </div>
{% endblock %}
